*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition-property: all;
    transition-timing-function: ease;
}

html{
    scroll-behavior: smooth;
}



/*
------------------------------------------------------------------
Buttons
------------------------------------------------------------------
*/

.btn-green{
    background: #5D8861;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    padding: 10px 20px;
}

.btn-light{
    background: #A1C1A3;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    padding: 10px 20px;
}

.btn-red{
    background: #d90429;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    padding: 10px 20px;
}


/*
------------------------------------------------------------------
Box Flex
------------------------------------------------------------------
*/
.box{
    position: relative;
    z-index: 1;
    margin: 5px 0;
    font-size: 16px;
    background: #A1C1A3;
    color:#fff;
    padding: 20px 20px;
    box-sizing: border-box;
    border: none;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box::before{
    content: "";
    height: 100%;
    width: 5px;
    background-color: #5D8861;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s all;
}

.box:hover::before{
    width: 100%;
}

.boxw{
    position: relative;
    z-index: 1;
    margin: 5px 0;
    font-size: 16px;
    background: #ffffff;
    color:#495057;
    padding: 20px 20px;
    box-sizing: border-box;
    border: none;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.boxw::before{
    content: "";
    height: 100%;
    width: 5px;
    background-color: #5D8861;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
}

.boxw2{
    position: relative;
    z-index: 1;
    margin: 5px 0;
    font-size: 16px;
    background: #ffffff;
    color:#495057;
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    border: none;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.boxw2::before{
    content: "";
    height: 100%;
    width: 5px;
    background-color: #5D8861;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
}

.boxt{
    position: relative;
    z-index: 1;
    margin: 5px 45px;
    font-size: 16px;
    background: none;
    color:black;
    padding: 0 30px;
    box-sizing: border-box;
    border: none;
    text-align: left;
    margin-bottom: 20px;
}

.boxt::before{
    content: "";
    height: 100%;
    width: 5px;
    background-color: #5D8861;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
}

/*
------------------------------------------------------------------
Bagian Header
------------------------------------------------------------------
*/

.header{
    background: #FFF5EC;
    text-align: center;
}

.header ul, .footer ul{
    list-style: none;
    padding: 20px 0;
}

.header ul li{
    display: inline;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 14pt;
    padding: 0 5%;
}

.header ul li a:hover{
    color: #5D8861;
    transition: .3s;
}

.header ul li img{
    width: 50px;
}

.header ul li a{
    text-decoration: none;
    color: black;
}

#logo{
    width: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}


/*
------------------------------------------------------------------
Bagian Footer
------------------------------------------------------------------
*/

.footer {
    height: 100vh;
    background: #FFF5EC;
    color: #5D8861;
}

.footer h2{
    font-weight: bold;
}

.konten{
    padding: 100px 0 0 0;
}

.icon img{
    width : 450px;
}

.footer ul img{
    width: 25px;
}

.footer a{
    text-decoration: none;
    color: #5D8861;
}

.footer ul li{
    display: inline;
    padding-right: 20px;
}

.copy{
    text-align: center;
}

.second{
    margin-top: 80px;
}

/*
------------------------------------------------------------------
Bagian Dashboard
------------------------------------------------------------------
left side
==================================================================
*/
nav{
    position: fixed;
    background: #FFEDDE;
    color: #5D8861;
    height: 100%;
    width: 300px;
    padding: 0 30px;
}

.dashboard ul li a{
    text-decoration: none;
    color: #5D8861;
}

.nav-active{
    font-weight: bold;
}

.dashboard .atap img, .dashboard .top img{
    width: 50px; 
}

.dashboard .admin img{
    width: 200%;
    border-radius: 50%;
}

.atap{
    text-align: center;
    padding: 20px 0 0 0;
}

.admin{
    display: flex;
    color: black;
    margin: 40px 0;
}

.admin ul{
    list-style: none;
    margin-top: 15px;
    margin-left: -5px;
}

.name{
    font-weight: bold;
}

.menu ul{
    list-style: none;
    margin-left: -30px;
    margin-top: 20px;
}

.menu ul li{
    padding: 0 0 20px 0;
}

nav .btn-green{
    width: 100%;
    margin-top: 25vh;
}

/*
======================
top side
======================
*/
.main{
    margin-left: 300px;
    background: #FFF5EC;
}

.head{
    background: #5D8861;
    display: flex;
    width: 100%;
    padding: 15px;
    position: relative;
    right: 0;
    height: 12vh;
}

.head img{
    border-radius: 50%;
}

.top{
    display: inline;
    position: absolute;
    right: 0;
    top: 12px;
}

.top ul{
    list-style: none;
}

.top ul li{
    display: inline;
    padding-right: 40px;
}

.top ul li:nth-child(2){
    display: inline;
    padding-right: 10px;
}

.top button{
    margin-left: -50px;
}

.top ul li a{
    color: #ffffff;
}
/*
=========================
Content
=========================
*/
.content{
    padding: 30px 50px;
    height: 100vh;
}

/*svg{
    width:40px;
    height:40px;
}*/

/*rect{
    width:40px;
    height:40px;
    fill: #5D8861;
    rx: 10px;
    ry: 10px;
}*/

.title{
    display: flex;
}

.title p{
    font-weight: bold;
    padding: 10px 10px;
}

/*
=========================
Content card
=========================
*/
.card{
    background: #5D8861;
    color: #ffffff;
}

.card-body{
    padding: 50px 20px;
}

.card-title{
    font-weight: bold;
}

.inc{
    margin-top: 30px;
}

/*
=========================
Content Table
=========================
*/
.content-table{
    margin-top: 40px;
    background: #FFEDDE;
    color: #495057;
}

.margin{
    padding: 20px 30px;
}

.content-table h5{
    font-weight: bold;
    margin-top: 10px;
    margin-right: 50px;
}

.content-table .title{
    margin-bottom: 30px;
}

.content-table table .btn-green{
    padding: 2px 20px;
    font-size: 10pt;
}

/*
------------------------------------------------------------------
Bagian Header admin
------------------------------------------------------------------
*/

.right{
    float: right;
}

.header-adm{
    height: 12vh;
    background: #5D8861;
}

.left{
    float: left;
}

.top-left{
    display: inline;
    position: absolute;
    left: 30px;
    top: 20px;
}

.logo{
    margin: -20px 20px 0 -30px;
    padding: 15px;
    width: 12vh;
    height: 12vh;
    background: #A1C1A3;
    text-align: center;
}

.header-adm .left img{
    width: 40px;
}

.header-adm .left .btn-light{
    padding: 10px 20px;
}

.header-adm .left button{
    margin-left: 70px;
    margin-top: -60px;
}

.header-adm .right img{
    width: 50px;
    border-radius: 50%;
}

.header-adm .right .top p{
    margin-left: 35vh;
}

/*
------------------------------------------------------------------
Bagian Form admin
------------------------------------------------------------------
*/
.add{
    padding: 50px 100px;
    background: #FFF5EC;
}

.add h1{
    text-align: center;
    font-weight: bold;
}

.form-control{
    height: 150px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-kat {
    height: 50px;
}

.add form{
    margin-top: 40px;
}

.add .form-group{
    margin-bottom: 60px;
}

.form-group h4{
    margin-bottom: 30px;
}

input[type="file"]{
    display: none;
}

.form-group label{
    border: 2px solid #5D8861;
    color: #5D8861;
    background: none;
    width: 200px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.add .right .btn-green, .add .left .btn-red{
    width: 200px;
}

/*
------------------------------------------------------------------
Bagian Profile Admin
------------------------------------------------------------------
*/
.profile{
    height: 100vh;
    padding: 50px 200px;
    text-align: center;
    background: #FFF5EC;
}

.profile img{
    border-radius: 50%;
    width: 200px;
}

.profile h1{
    font-size: 60pt;
    color: #5D8861;
    font-weight: bold;
}

.profile .row{
    margin-top: 50px;
}
.dashname {
    color: black;
}

.dashname:hover {
    color: black;
    text-decoration: none;
}
/*
------------------------------------------------------------------
Bagian Login
------------------------------------------------------------------
*/
.login{
    text-align: center;
    margin: 0;
    padding: 50px 300px;
    height: 100%;
    background: #5D8861;
}

.login img{
    width: 70px;
}

.square{
    padding: 100px 0;
    background: #FFEDDE;
}

.pd{
    margin-top: 50px;
    padding: 0 200px;
}

.login .pd h1{
    font-weight: bold;
    letter-spacing: 2px;
}

.arrow{
    background: none;
    border: none;
    color: #5D8861;
    cursor: pointer;
    font-weight: bold;
}

.section2 a{
    text-decoration: none;
    color: #5D8861;
}

.login .arrow{
    float: right;
}

.side{
    padding: 20px 240px 40px 240px;
}

.arrow img{
    width: 50px;
}

/*
==================================================================
------------------------------------------------------------------
Bagian Home
------------------------------------------------------------------
==================================================================
*/
.section1{
    background: #FFF5EC;
    padding: 70px 70px 40px 70px;
}

.wm{
    font-size: 100pt;
    font-weight: bold;
    color: #f7ece6;
    margin-bottom: -20px;
}

.section1 h2{
    font-size: 40pt;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: -5px;
}

.section1 .search{
    margin-top: 40px;
    padding: 15px 10px 15px 20px;
    margin-right: 120vh;
    background: #fff;
}

.section1 input[type="text"]{
    border: none;
    padding: 10px 80px 10px 10px;
}

.section1 .go{
    background: #5D8861;
    color: #fff;
    padding: 10px 45px;
    border: none;
    border-radius: 50px 0 0 0;
}

/*
=-=-=-=-=-=-=
section 2
=-=-=-=-=-=-=
*/

.section2{
    padding: 40px 0 40px 0;
    background: #5D8861;
}

/*edited*/
.section2 .scroll{
    background: #FFF5EC;
    margin-top: 40px;
    /*margin-right: 180vh;edited*/
    padding: 15px 0 15px 10vh;
    border-radius: 0 50px 50px 0;
}

.section2 .row{
    margin-right: 20px;
}

.scroll img{
    transform: rotate(90deg);
}

.scroll button{
    font-weight: bold;
    color: #5D8861;
}

/*
=-=-=-=-=-=-=
Image sayur
=-=-=-=-=-=-=
*/
.vag img{
    position: absolute;
    right: 0;
    top: 27vh;
    width: 130vh;
    margin-top: -120px;
}

/*
=-=-=-=-=-=-=
Section3
=-=-=-=-=-=-=
*/

.home {
    margin-top: -1.5%;
}

.section3{
    background: #FFF5EC;
    padding: 70px 150px 80px 70px;
}

.section3 .boxt, .section5 .boxt{
    font-size: 30pt;
    font-weight: bold;
}

.section3 .boxt::before, .section5 .boxt::before{
    width: 20px;
}

.home .section3 p, .section5 p{
    text-align: justify;
    margin-top: 10px;
    font-size: 14pt;
    color: #495057;
}

/*
=-=-=-=-=-=-=
Image Article
=-=-=-=-=-=-=
*/
.section4{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #FFF5EC;
}

.img-article{
    position: relative;
    flex: 1;
    max-width: 450px;
    height: 400px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.img-article img{
    position: relative;
    width: 400px;
}

.img-article .detail{
    z-index: 1;
    position: absolute;
    bottom: -30px;
    background: #5d8861a4;
    color: #ffffff;
    width: 100%;
    height: 100%;
    align-items: center;
    height: 150px;
    padding: 30px;
    border-radius: 5px;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.img-article:hover .detail{
    bottom: 0;
    transition: .6s;
    opacity: 1;
}

.detail h2{
    font-weight: bold;
}

.detail a{
    color: #fff;
    text-decoration: none;
}

.detail p{
    font-size: 8pt;
}

.btn-link{
    padding: 25vh 10vh;
}

.btn-link a{
    color: #5D8861;
    text-decoration: none;
    font-weight: bold;
}

/*
=-=-=-=-=-=-=
Section 5
=-=-=-=-=-=-=
*/
.section5{
    background: #FFEDDE;
    padding: 70px 150px 100px 70px;
}

/*
=-=-=-=-=-=-=
Section 6
=-=-=-=-=-=-=
*/
.section6{
    background: #FFEDDE;
}

.icon{
    position: relative;
    display: flex;
}

.bg{
    position: absolute;
    max-width: 50vh;
    min-width: 50vh;
    top: 0;
    right: 0;
}

.bg1{
    position: absolute;
    max-width: 65vh;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.section6 .wm{
    color: #f0e8e3;
}

.keterangan{
    background: #FFEDDE;
    text-align: center;
    padding: 0 60vh 40px 60vh;
    color: #495057;
}

.keterangan .btn-link img{
    width: 50px;
}

.keterangan .btn-link{
    padding: 10px 0;
}

/*
==================================================================
------------------------------------------------------------------
Bagian Artikel
------------------------------------------------------------------
==================================================================
*/
.article {
    margin-top: -1.5%;
}

.article .wm, .sub-article .wm, .about .wm{
    text-align: center;
    letter-spacing: 5px;
}

.article .vag{
    position: absolute;
    right: 55vh;
    top: 0;
}


.article .vag img{
    width: 100vh;
}



.article h2{
    font-size: 30pt;
}


.article .section3{
    padding: 70px 100vh 80px 70px;
}

.content-article{
    padding: 0 100px 10vh 32vh;
    background: #FFF5EC;
}

/*
==================================================================
------------------------------------------------------------------
Bagian Sub Artikel
------------------------------------------------------------------
==================================================================
*/
.sub-article {
    margin-top: -1.5%;
}

.sub-article .vag img{
    width: 70vh;
}

.sub-article .vag{
    position: absolute;
    right: 75vh;
    top: 0vh;
}

/*edited remove all classes include .sub-title*/

.sub-title{
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-right: 25vh;
    padding: 10vh 0 0 0;
    letter-spacing: 3px;
    z-index: 1;
}

.sub-article h2{
    font-size: 30pt;
}
/*
=-=-=-=-=-=-=
Section top
=-=-=-=-=-=-=
*/
.sectiont .col-2{
    padding: 0 30px 0 0;
    background: #FFEDDE;
    opacity: 1;
}
.sectiont{
    background: #FFF5EC;
    padding: 0 20px;
    color: #495057;
}

.sectiont .col-10{
    padding: 70px 70px 0 70px;
}

.sectiont .col-10 p{
    font-size: 18pt;
}

.sectiont h3{
    font-weight: bold;
    color: black;
}

/*edited*/
.sectiont .col-2{
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
}

.funfact{
    margin-top: 8.1vh;
    position: fixed;    
    background: #FFEDDE;
}

.funfact p{
    padding: 10px 25px 20px 20px;
    font-size: 16pt;
}
/*end of edited*/


.sectiont .boxt{
    padding: 10px 0 10px 20px;
    margin: 0;
    font-size: 20pt;
}

.sectiont .boxt::before{
    width: 10px;
}

.sub-article .section3 .boxt{
    margin: 0 0 20px 0;
    padding: 20px 40px 20px 40px;
}

.sub-article .section3 p, .sub-article .section3 li{
    font-size: 16pt;
    color: #495057;
}

.space{
    margin-bottom: 10vh;
}

/*
==================================================================
------------------------------------------------------------------
Bagian About
------------------------------------------------------------------
==================================================================
*/
.about {
    margin-top: -1.5%;
}

.about .section3{
    padding: 150px 50vh;
    text-align: center;
    color: #495057;
    font-size: 16pt;
}

.about .section3 p{
    z-index: 1;
}

.wmbg{
    position: relative;
}

.wmbg img{
    position: absolute;
    top: 20vh;
    left: 0;
    width: 60vh;
    z-index: 0;
    opacity: .1;
}

.about .section1 h3{
    font-size: 20pt;
    font-weight: bold;
}

.about .card{
    background: none;
    text-align: center;
    border: none;
}

.about .card-title{
    color: #5D8861;
}

.about .card-text{
    color: #495057;
    font-weight: bold;
}

/*new css*/
.about .section1 .row{
    padding: 0 150px;
}

.sectiont .author p{
    font-size: 14pt;
    margin-bottom: -2px;
}

.sectiont .author p:nth-child(1){
    font-weight: bold;
    color: #5D8861;
}

.author{
    justify-self: center;
    margin-bottom: 40px;
    margin-left: -15px;
}

.marg-top {
    margin-top: -6%;
}


/*
==========================
Break Point
--------------------------
HP
--------------------------
*/
@media (min-device-width:360px) and (max-device-width: 768px){
    /* /home/ */
    .home, .article, .sub-article, .about, .header, .footer{
        width: 120vh;
    }

    .header{
        margin-bottom: -6%;
    }

    .section1{
        padding: 0 0 0 10vh;
    }
    .section2 .scroll{
        display: none;
    }

    .vag img{
        left: 70vh;
        width: 50vh;
        margin-top: 15vh;
    }

    .section1 .go{
        padding: 10px 30px;
    }

    .section1 .search{
        padding: 15px 15px 15px 20px;
        margin-right: 55vh;
    }

    .section1 input[type="text"]{
        padding: 10px 10px 10px 10px;
    }

    .section3, .section5{
        padding: 70px 30px 20px 0;
    }

    .section3 .boxt{
        font-size: 20pt;
    }

    .img-article .detail{
        bottom: 0;
        opacity: 1;
    }

    .section4{
        flex-direction: row;
        justify-content: center;
    }

    .section4 .btn-link{
        margin: 15vh;
    }

    .keterangan{
        padding: 0 10vh 10vh 10vh;
    }

    .icon img{
        display: none;
    }

    /* /footer/ */
    .footer{
        height: auto;
    }

    .icon{
        display: none;
    }

    .konten{
        margin: 0 2vh;
        padding: 5vh 20vh;
        justify-content: center;
    }

    .copy{
        padding: 2vh 0;
    }

    /* /article/ */
    
    .article .vag{
        position: absolute;
        left: 0;
        top: 9vh;
    }
    
    .article .vag img{
        width: 50vh;
    }

    .article .wm, .sub-article .wm, .about .wm{
        padding: 10vh 0;
    }

    
    .content-article{
        padding: 0 60vh;
    }

    .article .section3{
        padding: 5vh 10vh;
    }

    /* /sub article/ */
    .sub-article .vag{
        display: none;
    }

    .sub-title{
        padding: 5vh 0;
    }

    .sub-article .section3 .row {
        padding: 0 20vh 0 10vh;
    }

    .sectiont .funfact{
        margin-left: 42vh;
    }

    .sub-article .sectiont .row{
        padding-right: 10vh;
    }

    /*about*/
    .about .section3{
        padding: 100px 10vh;
        margin-bottom: -10px;
    }

    .wmbg img{
        top: 5vh;
        left: 0;
        width: 40vh;
    }

    /*header*/
    .header ul li{
        padding: 0 4%;
    }

    .header ul li img{
        position: relative;
    }

    #logo{
        left: 95%;
        right: 95%;
    }
}
